/** MAIN STYLES */
* {
    outline: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--alt-text-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: var(--focused);
}

/* .nav-container {
    width: 80%;
} */

.container {
    width: 80%;
    margin: 0 auto;
    flex: 1;
}

header {
    color: var(--text-color);
    /* padding: 1em 0; */
}

header h1 {
    margin: 0;
}

.navbar {
    background-color: var(--alt-background-color);
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.title {
    padding-left: 15px;
}

div.navbar {
    color: var(--text-color);
    padding: 1em 0;
    text-align: center;
}

div.navbar h1.title {
    margin: 0;
    display: inline-block;
}

div.navbar nav ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

div.navbar nav li {
    display: inline-block;
    margin-right: 20px;
}

div.navbar a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: var(--border-radius-large);
    -webkit-border-radius: var(--border-radius-large);
    -moz-border-radius: var(--border-radius-large);
    -ms-border-radius: var(--border-radius-large);
    -o-border-radius: var(--border-radius-large);
    transition: background-color 0.3s ease;
}

div.navbar a:hover {
    background-color: var(--focused);
    color: var(--alt-text-color);
}

div.navbar .focused {
    color: var(--focused);
}

.focused {
    color: var(--focused);
}

section {
    font-size: larger;
    padding: 2em 0;
    min-height: 100%;
}

section>.container>h2 {
    color: var(--focused);
}

section>.container>ul {
    list-style-type: disclosure-closed;
}

section>.container>ul>li {
    margin-top: 10px;
    text-indent: 15px;
    transition: all 330ms ease-in-out;
    -webkit-transition: all 330ms ease-in-out;
    -moz-transition: all 330ms ease-in-out;
    -ms-transition: all 330ms ease-in-out;
    -o-transition: all 330ms ease-in-out;
}

section>.container>ul>li:hover {
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: var(--alt-text-color);
    background-color: var(--button-background-color);
    height: 35px;
    /* width: 70px; */
    /* min-width: 70px; */
    text-align: center;
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
    border: 3px solid var(--border-color);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

.languageSelect {
    margin-bottom: 5px;
    outline: transparent;
    /*padding: 0.6em 0.4em;
    */
    font-weight: bold;
    font-size: 16px;
    background-color: var(--alt-background-color);
    color: var(--text-color);
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

.error-404 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#ADA-Toggle {
    width: 32px;
    height: 32px;
    border: none;
    background: url(../Img/Eye-Off.png) center/cover no-repeat;
    display: inline-block;
    bottom: -10px;
    position: relative;
}

footer {
    background-color: var(--alt-background-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.absolute-footer {
    background-color: var(--alt-background-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/** END MAIN STYLES */

/** MOBILE NAVBAR */
.topnav {
    overflow: hidden;
    background-color: var(--alt-background-color);
    position: relative;
}

.topnav #Links {
    display: none;
}

.topnav a,
.topnav h1 {
    color: var(--text-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav select,
.topnav button {
    margin-left: 16px;
}

.topnav select {
    padding: 0;
}

.topnav button {
    pad: 14px 16px;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: var(--focused);
    color: var(--text-color);
}

.mobile {
    display: inline-block;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-variant-alternates: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-variant-position: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mobile-bars:before {
    content: "≡";
    color: black;
    font-weight: 1000;
    font-size: 20px;
}

/** END MOBILE NAVBAR */

/** TOAST */

.toast-overlay {
    z-index: 9999998;
    background-color: var(--overlay);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.toast {
    color: var(--alt-text-color);
    z-index: 9999999;
    width: 60%;
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 20%;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-xlarge);
    -webkit-border-radius: var(--border-radius-xlarge);
    -moz-border-radius: var(--border-radius-xlarge);
    -ms-border-radius: var(--border-radius-xlarge);
    -o-border-radius: var(--border-radius-xlarge);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    -moz-transition: opacity 0.5s, transform 0.5s;
    -ms-transition: opacity 0.5s, transform 0.5s;
    -o-transition: opacity 0.5s, transform 0.5s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    filter: brightness(1);
    -webkit-filter: brightness(1);
}

.message-container {
    text-align: center;
    padding: 5px;
}

.toast-button {
    background-color: var(--button-background-color);
    width: 70px;
    min-width: 70px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 3px solid var(--border-color);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

.toast>p {
    text-align: center;
}

/** END TOAST */

/** RESUME */

#Job-Container {
    display: flex;
    justify-content: space-between;
}

#Job-List {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    padding: 20px;
    background-color: var(--alt-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    left: 15%;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

#Job-About {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 30%;
    padding: 20px;
    background-color: var(--alt-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    right: 15%;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

#Job-List,
#Job-About {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--alt-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
}

#Job-About {
    margin-left: 10px;
}


section#Job-List>div.container {
    border-color: var(--text-color);
    border-bottom: solid 2px;
    color: var(--text-color);
    /* ^Border will be invisible otherwise */
}

section#Job-List>div.container>h4{
    word-spacing: 5px;
}

section#Job-List>div.container>*,
section#Job-About>div.container>* {
    color: var(--text-color);
}

section#Job-List>div.container>h1 {
    text-decoration: underline;
}






#job-value {
    float: left;
}

#job-desc {
    float: right;
}

.job-desc {
    font-size: large;
}

#fileInputLabel,
#pdfInput,
#pdfViewer,
#submit-resume {
    display: none;
}

#Job-Select {
    outline: transparent;
    padding: 0.6em 0.4em;
    /*width: 150px;
    */
    font-weight: bold;
    font-size: 16px;
    background-color: var(--alt-background-color);
    color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

select#Job-Select>option,
select#Job-Select>optgroup,
select#Job-Select>optgroup>option {
    background-color: var(--alt-background-color);
}

select#Job-Select>option {
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

#pdfViewer {
    font-size: 16px;
    text-align: center;
    background-color: var(--background-color);
    position: relative;
    flex-direction: column;
    transition-duration: 0.2s;
    overflow: hidden;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

#pdfViewer::after {
    content: "PDF Viewer";
}

#Job-Select:hover,
#fileInputLabel:hover,
#submit-resume:hover {
    background-color: var(--focused);
}

div.overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    padding: 20px;
    background-color: var(--alt-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

div.overlay form {
    color: var(--text-color);
    flex-direction: column;
}

div.overlay label {
    margin-bottom: 8px;
}

div.overlay input {
    display: flex;
    padding: 8px;
    margin-bottom: 5px;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

div.overlay select {
    display: flex;
    margin-bottom: 5px;
    outline: transparent;
    padding: 0.6em 0.4em;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--alt-background-color);
    color: var(--text-color);
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

.submit-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#fileInputLabel,
#pdfInput {
    bottom: 0;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--alt-text-color);
    cursor: pointer;
    position: relative;
    border: none;
    border-radius: var(--border-radius-small);
    -webkit-border-radius: var(--border-radius-small);
    -moz-border-radius: var(--border-radius-small);
    -ms-border-radius: var(--border-radius-small);
    -o-border-radius: var(--border-radius-small);
}

#submit-resume {
    outline: transparent;
    padding: 0.6em 0.4em;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: var(--alt-background-color);
    color: var(--text-color);
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    position: relative;
    width: 100%;
    bottom: -30px;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

/** END RESUME  */

/** CONTACT PAGE */

#contact {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    text-align: center;
}

div#Contact-Form.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    padding: 20px;
    background-color: var(--alt-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

div#Contact-Form.overlay form {
    color: var(--text-color);
    flex-direction: column;
}

div#Contact-Form.overlay label {
    margin-bottom: 8px;
}

div#Contact-Form.overlay input {
    display: flex;
    padding: 8px;
    width: 100%;
    margin-bottom: 5px;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

div#Contact-Form.overlay select {
    display: flex;
    margin-bottom: 5px;
    outline: transparent;
    padding: 0.6em 0.4em;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--alt-background-color);
    color: var(--text-color);
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

div#Contact-Form.overlay textarea {
    width: 100%;
    display: flex;
    padding: 8px;
    margin-bottom: 5px;
    border: 3px solid var(--focused);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

/** END CONTACT PAGE */