/** MAIN STYLES */
* {
    outline: none;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--alt-text-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* .nav-container {
    width: 80%;
} */

.container {
    width: 80%;
    margin: 0 auto;
    flex: 1;
}

header {
    color: var(--text-color);
    /* padding: 1em 0; */
}

header h1 {
    margin: 0;
}

.navbar {
    background-color: var(--alt-background-color);
    /* width: 80%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.title {
    padding-left: 15px;
}

div.navbar {
    color: var(--text-color);
    padding: 1em 0;
    text-align: center;
}

div.navbar h1.title {
    margin: 0;
    display: inline-block;
}

div.navbar nav ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

div.navbar nav li {
    display: inline-block;
    margin-right: 20px;
}

div.navbar a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 1vmin;
    -webkit-border-radius: 1vmin;
    -moz-border-radius: 1vmin;
    -ms-border-radius: 1vmin;
    -o-border-radius: 1vmin;
    transition: background-color 0.3s ease;
}

div.navbar a:hover {
    background-color: var(--text-hover);
    color: var(--alt-text-color);
}

div.navbar .focused {
    color: var(--text-hover);
}

.focused {
    color: var(--text-hover);
}

section {
    font-size: larger;
    padding: 2em 0;
    min-height: 100%;
}

section>.container>h2 {
    color: var(--text-hover);
}

section>.container>ul {
    list-style-type: disclosure-closed;
}

section>.container>ul>li {
    margin-top: 10px;
    text-indent: 15px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

section>.container>ul>li:hover {
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
}

footer {
    background-color: var(--alt-background-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.absolute-footer {
    background-color: var(--alt-background-color);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

::selection {
    background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--text-hover);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

/** END MAIN STYLES */

/** MOBILE NAVBAR */
.topnav {
    overflow: hidden;
    background-color: var(--alt-background-color);
    position: relative;
}

.topnav #Links {
    display: none;
}

.topnav a,
.topnav h1 {
    color: var(--text-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: var(--text-hover);
    color: var(--text-color);
}

@font-face {
    font-family: 'Mobile';
    src: url('../Fonts/mobile.eot');
    src: url('../fonts/mobile.eot') format('embedded-opentype'),
        url('../fonts/mobile.woff2') format('woff2'),
        url('../fonts/mobile.woff') format('woff'),
        url('../fonts/mobile.ttf') format('truetype'),
        url('../fonts/mobile.svg') format('svg');
    font-weight: normal;
    font-style: normal
}

.mobile {
    display: inline-block;
    font: normal normal normal 14px/1 "Mobile";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.mobile-bars:before {
    content: "\f0c9"
}

/** END MOBILE NAVBAR */

/** RESUME */
#job-value {
    float: left;
}

#job-desc {
    float: right;
}

#fileInputLabel,
#pdfInput,
#pdfViewer,
#submit-resume {
    display: none;
}

#Job-Select {
    outline: transparent;
    padding: 0.6em 0.4em;
    /* width: 150px; */
    font-weight: bold;
    font-size: 16px;
    background-color: var(--alt-background-color);
    color: var(--text-color);
    border-radius: 0.4em;
    border: 1px solid var(--text-hover);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

select#Job-Select>option,
select#Job-Select>optgroup,
select#Job-Select>optgroup>option {
    background-color: var(--alt-background-color);
}

select#Job-Select>option {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#pdfViewer {
    font-size: 16px;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 0.4em;
    border: 1px solid var(--text-hover);
    position: relative;
    flex-direction: column;
    transition-duration: 0.2s;
    overflow: hidden
}

#pdfViewer::after {
    content: "PDF Viewer";
}

#pdfInput {
    color: transparent;
    position: absolute;
    left: 55%;
    transform: translate(-50%, -50%);
}

#pdfInput::file-selector-button,
#fileInputLabel,
#submit-resume {
    position: absolute;
    outline: transparent;
    padding: 0.6em 0.4em;
    font-weight: bold;
    font-size: 16px;
    width: 150px;
    text-align: center;
    background-color: var(--alt-background-color);
    color: var(--text-color);
    border: 1px solid var(--text-hover);
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#submit-resume {
    position: relative;
    width: 100%;
    bottom: -30px;
}

#Job-Select:hover,
#fileInputLabel:hover,
#submit-resume:hover {
    background-color: var(--text-hover);
}

/** END RESUME  */

/** SUBMISSION FORM */

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--alt-background-color);
    border: solid var(--text-hover);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

/* Style the form elements as needed */
form {
    clear: both;
    color: var(--text-color);
    /* display: flex; */
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    display: flex;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid var(--text-hover);
    border-radius: 3px;
    width: 100%;
    /* Make inputs fill the available space */
}

select {
    display: flex;
    margin-bottom: 5px;
}

.submit-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100%;
}

div.left {
    position: relative;
    float: left;
    padding-right: 15px;
}

div.right {
    position: relative;
    float: right;
}

button {
    bottom: 0;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--alt-text-color);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

/** END SUBMISSION FORM */